In [20]:
import pandas as pd
import os

In [21]:
data_path = r'C:\Projects\connecteddatahub\data'
grants_path = os.path.join(data_path, 'grants', 'cleaned_grants_2010_2024.csv')

In [22]:
grants_df_full = pd.read_csv(grants_path)

In [23]:
print(grants_df_full.shape)
print(grants_df_full.columns)

(18509842, 10)
Index(['year', 'recip_ein', 'recip_name', 'recip_city', 'recip_state',
       'recip_zip', 'amount', 'recip_status', 'text', 'type'],
      dtype='object')

In [24]:
print(grants_df_full['year'].value_counts().sort_index())

year
2008        390
2010     460103
2011     630155
2012     849482
2013     927987
2014    1057994
2015    1208821
2016    1257204
2017    1390360
2018    1480476
2019    1354000
2020     928360
2021    2669869
2022    2988266
2023    1298311
2024       8064
Name: count, dtype: int64

In [25]:
grants_df = grants_df_full[(grants_df_full['year'] < 2019) & (grants_df_full['year'] >= 2010)]

In [26]:
print(grants_df['year'].value_counts().sort_index())

year
2010     460103
2011     630155
2012     849482
2013     927987
2014    1057994
2015    1208821
2016    1257204
2017    1390360
2018    1480476
Name: count, dtype: int64

In [27]:
print(
    grants_df.loc[
        (grants_df['year'] == 2013) & (grants_df['recip_name'].str.contains("university", case=False, na=False)),
        'recip_name'
    ].value_counts().head(20)
)

recip_name
YALE UNIVERSITY                      454
DUKE UNIVERSITY                      439
STANFORD UNIVERSITY                  383
NORTHWESTERN UNIVERSITY              382
CORNELL UNIVERSITY                   379
UNIVERSITY OF MICHIGAN               372
UNIVERSITY OF PENNSYLVANIA           364
OHIO STATE UNIVERSITY FOUNDATION     364
UNIVERSITY OF WASHINGTON             345
COLUMBIA UNIVERSITY                  335
NEW YORK UNIVERSITY                  326
JOHNS HOPKINS UNIVERSITY             323
UNIVERSITY OF SOUTHERN CALIFORNIA    306
UNIVERSITY OF CHICAGO                274
UNIVERSITY OF PITTSBURGH             272
EMORY UNIVERSITY                     260
BROWN UNIVERSITY                     257
VANDERBILT UNIVERSITY                246
MICHIGAN STATE UNIVERSITY            243
HARVARD UNIVERSITY                   242
Name: count, dtype: int64

In [28]:
# Get top 20 university recipients in 2013
top_20_2013 = (
    grants_df.loc[
        (grants_df['year'] == 2013)
        & (grants_df['recip_name'].str.contains("university", case=False, na=False)),
        'recip_name'
    ]
    .value_counts()
    .head(20)
    .index
)

# Show yearly counts for those same recipients
print(
    grants_df.loc[
        grants_df['recip_name'].isin(top_20_2013)
    ]
    .groupby(['year', 'recip_name'])
    .size()
    .unstack(fill_value=0)
)

recip_name  BROWN UNIVERSITY  COLUMBIA UNIVERSITY  CORNELL UNIVERSITY  \
year
2010                     135                  153                 194
2011                     192                  211                 252
2012                     234                  264                 350
2013                     257                  335                 379
2014                     303                  404                 444
2015                     312                  402                 487
2016                     322                  451                 479
2017                     353                  470                 519
2018                     372                  478                 549

recip_name  DUKE UNIVERSITY  EMORY UNIVERSITY  HARVARD UNIVERSITY  \
year
2010                    257               131                 155
2011                    309               196                 197
2012                    400               257                 220
2013                    439               260                 242
2014                    481               282                 316
2015                    546               327                 316
2016                    540               333                 337
2017                    618               372                 345
2018                    657               403                 333

recip_name  JOHNS HOPKINS UNIVERSITY  MICHIGAN STATE UNIVERSITY  \
year
2010                             206                        140
2011                             252                        168
2012                             339                        232
2013                             323                        243
2014                             406                        245
2015                             448                        281
2016                             455                        316
2017                             531                        348
2018                             485                        334

recip_name  NEW YORK UNIVERSITY  NORTHWESTERN UNIVERSITY  \
year
2010                        169                      200
2011                        219                      257
2012                        296                      341
2013                        326                      382
2014                        398                      412
2015                        427                      437
2016                        395                      453
2017                        448                      534
2018                        425                      542

recip_name  OHIO STATE UNIVERSITY FOUNDATION  STANFORD UNIVERSITY  \
year
2010                                     221                  259
2011                                     260                  304
2012                                     307                  349
2013                                     364                  383
2014                                     395                  504
2015                                     499                  524
2016                                     222                  565
2017                                     119                  640
2018                                     218                  685

recip_name  UNIVERSITY OF CHICAGO  UNIVERSITY OF MICHIGAN  \
year
2010                          198                     205
2011                          182                     245
2012                          250                     278
2013                          274                     372
2014                          298                     404
2015                          331                     444
2016                          355                     478
2017                          386                     505
2018                          378                     500

recip_name  UNIVERSITY OF PENNSYLVANIA  UNIVERSITY OF PITTSBURGH  \
year
2010                               184                       194
2011                               269                       217
2012                               351                       271
2013                               364                       272
2014                               350                       362
2015                               390                       335
2016                               425                       344
2017                               466                       367
2018                               461                       397

recip_name  UNIVERSITY OF SOUTHERN CALIFORNIA  UNIVERSITY OF WASHINGTON  \
year
2010                                      125                       292
2011                                      205                       375
2012                                      310                       406
2013                                      306                       345
2014                                      373                       365
2015                                      415                       337
2016                                      399                       424
2017                                      455                       445
2018                                      495                       459

recip_name  VANDERBILT UNIVERSITY  YALE UNIVERSITY
year
2010                          116              291
2011                          162              322
2012                          243              420
2013                          246              454
2014                          285              552
2015                          317              602
2016                          304              624
2017                          343              657
2018                          331              711

In [30]:
grants_df.to_csv(os.path.join(data_path, 'grants', 'cleaned_grants_2010_2018.csv'), index = False)