In [83]:
import os
import pandas as pd
import numpy as np

import re
from rapidfuzz import fuzz, process
from tqdm import tqdm

from IPython.display import display

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [84]:
grants_path = r'C:\Projects\connecteddatahub\data\grants\cleaned_grants_2010_2018.csv'
affiliation_path = r'C:\Projects\connecteddatahub\data\maps\cleaned_affiliation.csv'
diversity_path = r"C:\Projects\connecteddatahub\data\external\university_enrollment_race.csv"

In [85]:
grants_df = pd.read_csv(grants_path)
grants_df['Year'] = grants_df['year']
grants_df['Year'] = grants_df['Year'].astype(str)
print(grants_df.shape)

(9262582, 11)

In [86]:
affiliation_df = pd.read_csv(affiliation_path)
print(affiliation_df.head(4))
print(grants_df.columns)

   AffiliationId  carnegie_id  PrimarySample                  FullName  \
0       71965598     188429.0           True        Adelphi University
1      181401687     131159.0           True       American University
2      102298084     168740.0           True        Andrews University
3           1000          NaN           True  Arizona Board of Regents

   SystemId
0       NaN
1       NaN
2       NaN
3    1000.0
Index(['year', 'recip_ein', 'recip_name', 'recip_city', 'recip_state',
       'recip_zip', 'amount', 'recip_status', 'text', 'type', 'Year'],
      dtype='object')

In [87]:
diversity_df = pd.read_csv(diversity_path)
diversity_df = diversity_df.rename(columns={'year': 'Year'})
diversity_df['Year'] = diversity_df['Year'].astype(str)
print(diversity_df.columns)
#merge the number of students into the df

Index(['carnegie_id', 'AffiliationId', 'Year', 'student.size',
       'student.enrollment.all', 'student.demographics.race_ethnicity.white',
       'student.demographics.race_ethnicity.black',
       'student.demographics.race_ethnicity.hispanic',
       'student.demographics.race_ethnicity.asian',
       'student.demographics.race_ethnicity.aian',
       'student.demographics.race_ethnicity.nhpi',
       'student.demographics.race_ethnicity.two_or_more',
       'student.demographics.race_ethnicity.non_resident_alien',
       'student.demographics.race_ethnicity.unknown',
       'student.demographics.race_ethnicity.white_non_hispanic',
       'student.demographics.race_ethnicity.black_non_hispanic',
       'student.demographics.race_ethnicity.asian_pacific_islander',
       'student.demographics.race_ethnicity.aian_prior_2009',
       'student.demographics.race_ethnicity.hispanic_prior_2009',
       'student.demographics.race_ethnicity.unknown_2000',
       'student.demographics.race_ethnicity.white_2000',
       'student.demographics.race_ethnicity.black_2000',
       'student.demographics.race_ethnicity.api_2000',
       'student.demographics.race_ethnicity.aian_2000',
       'student.demographics.race_ethnicity.hispanic_2000'],
      dtype='object')

In [88]:
years = ["1999", "2000", "2002", "2005", "2007", "2008", "2009", "2010", "2011", "2013", "2018"]

year_df = pd.DataFrame({'Year': years})
affiliation_years = affiliation_df.merge(year_df, how = 'cross')
print(affiliation_years.columns)

Index(['AffiliationId', 'carnegie_id', 'PrimarySample', 'FullName', 'SystemId',
       'Year'],
      dtype='object')

In [89]:
#merge the student sizes into the year df

merged_df = affiliation_years.merge(
    diversity_df[['AffiliationId', 'Year', 'student.size']],
    how = "left",
    on = ["AffiliationId", 'Year']
)

print(merged_df.head(10))
affiliation_years = merged_df

   AffiliationId  carnegie_id  PrimarySample            FullName  SystemId  \
0       71965598     188429.0           True  Adelphi University       NaN
1       71965598     188429.0           True  Adelphi University       NaN
2       71965598     188429.0           True  Adelphi University       NaN
3       71965598     188429.0           True  Adelphi University       NaN
4       71965598     188429.0           True  Adelphi University       NaN
5       71965598     188429.0           True  Adelphi University       NaN
6       71965598     188429.0           True  Adelphi University       NaN
7       71965598     188429.0           True  Adelphi University       NaN
8       71965598     188429.0           True  Adelphi University       NaN
9       71965598     188429.0           True  Adelphi University       NaN

   Year  student.size
0  1999           NaN
1  2000           NaN
2  2002        3726.0
3  2005        4718.0
4  2007        4973.0
5  2008        4933.0
6  2009        4923.0
7  2010           NaN
8  2011        5006.0
9  2013        5000.0

In [ ]:
def normalize_institution(name: str):
    """Lowercase, strip punctuation, preserve institutional terms."""
    if pd.isna(name):
        return ""
    name = name.lower()
    name = re.sub(r"[^\w\s]", "", name)
    name = re.sub(r"\s+", " ", name).strip()
    return name

grants_df["recip_name_norm"] = grants_df["recip_name"].apply(normalize_institution)
affiliation_years["fullname_norm"] = affiliation_years["FullName"].apply(normalize_institution)

#TF-IDF + cosine similarity
def match_names_discriminative(sub_aff, grants_sub, threshold=0.55):
    """
    Performs institutional name matching using TF-IDF + cosine similarity,    """
    if grants_sub.empty or sub_aff.empty:
        sub_aff["matched_name"] = None
        sub_aff["match_score"] = np.nan
        return sub_aff

    # Build vector space model
    vectorizer = TfidfVectorizer(analyzer="char_wb", ngram_range=(3,6))
    X = vectorizer.fit_transform(grants_sub["recip_name_norm"])
    Y = vectorizer.transform(sub_aff["fullname_norm"])

    # Compute cosine similarities
    sims = cosine_similarity(Y, X)
    best_idx = sims.argmax(axis=1)
    best_score = sims.max(axis=1)

    matched = []
    for i, row in enumerate(sub_aff["fullname_norm"]):
        candidate = grants_sub.iloc[best_idx[i]]["recip_name_norm"]
        score = best_score[i]

        if score < threshold:
            matched.append(None)
            continue

        tokens_row = row.split()
        tokens_cand = candidate.split()
        if not tokens_row or not tokens_cand:
            matched.append(None)
            continue

        # Longest word overlap requirement
        longest_token = max(tokens_row, key=len)
        if longest_token not in tokens_cand:
            matched.append(None)
            continue

        # First token overlap requirement
        first_token = tokens_row[0]
        if first_token not in tokens_cand:
            matched.append(None)
            continue

        matched.append(candidate)

    sub_aff["matched_name"] = matched
    sub_aff["match_score"] = best_score
    return sub_aff


matched_chunks = []
years_iter = sorted(affiliation_years["Year"].dropna().unique())

for yr in tqdm(years_iter, desc="Matching by year"):
    grants_subset = grants_df[grants_df["Year"] == yr]
    sub_aff = affiliation_years[affiliation_years["Year"] == yr].copy()
    matched_chunks.append(match_names_discriminative(sub_aff, grants_subset, threshold=0.55))

affiliation_years = pd.concat(matched_chunks, ignore_index=True)


merged = affiliation_years.merge(
    grants_df[["recip_name_norm", "Year", "amount"]],
    how="left",
    left_on=["matched_name", "Year"],
    right_on=["recip_name_norm", "Year"],
)

grant_stats = (
    merged.groupby(["FullName", "Year"], as_index=False)
    .agg(
        num_grants=("amount", "count"),
        total_funding=("amount", "sum"),
        student_size = ("student.size", "first")
    )
)

affiliation_years = affiliation_years.merge(grant_stats, on=["FullName", "Year"], how="left")
affiliation_years["num_grants"] = affiliation_years["num_grants"].fillna(0).astype(int)
affiliation_years["total_funding"] = affiliation_years["total_funding"].fillna(0.0)

Matching by year: 100%|██████████| 11/11 [07:14<00:00, 39.51s/it]

In [99]:
print(affiliation_years.columns)

Index(['AffiliationId', 'carnegie_id', 'PrimarySample', 'FullName', 'SystemId',
       'Year', 'student.size', 'fullname_norm', 'matched_name', 'match_score',
       'num_grants', 'total_funding', 'student_size'],
      dtype='object')

In [101]:
grant_stats_filtered = affiliation_years[affiliation_years["Year"].astype(int) >= 2010]

grant_stats_filtered_interpolate = grant_stats_filtered.sort_values(["FullName", "Year"])

# Interpolate within each AffiliationId across years
grant_stats_filtered_interpolate["student.size"] = (
    grant_stats_filtered_interpolate.groupby("AffiliationId")["student.size"]
    .transform(lambda s: s.interpolate(method="linear"))
    .fillna(
        grant_stats_filtered_interpolate.groupby("AffiliationId")["student.size"].transform("mean")
    )
)

grant_stats_filtered_interpolate = grant_stats_filtered_interpolate.drop('student_size', axis = 1, errors = "ignore")
# grant_stats_filtered_interpolate = grant_stats.sort_values(by = ['FullName', 'Year'])
grant_stats_filtered_interpolate.to_csv(r'C:\Projects\connecteddatahub\data\grants\university_grants.csv', index = False)

In [ ]:
def preview_matches(affiliation_years, grants_df, top_n=20):
    """Show a sample of institution matches by year."""
    # Keep only rows with successful matches
    matched = affiliation_years[affiliation_years["matched_name"].notna()].copy()

    # Merge to bring grant data and similarity if you stored it
    matched = matched.merge(
        grants_df[["recip_name_norm", "Year", "recip_name"]],
        how="left",
        left_on=["matched_name", "Year"],
        right_on=["recip_name_norm", "Year"],
    )

    # Show counts
    print(f"✅ Total matches found: {len(matched):,}")
    print(f"✅ Years matched: {matched['Year'].nunique()}\n")

    # Print a few random or top examples per year
    for yr in sorted(matched['Year'].unique()):
        print(f"\n===== Year {yr} =====")
        sub = matched[matched["Year"] == yr].sample(
            n=min(top_n, len(matched[matched["Year"] == yr])), random_state=42
        )
        display(
            sub[
                [
                    "FullName",
                    "matched_name",
                    "recip_name",   # original name from grants_df
                    "num_grants",
                    "total_funding",
                ]
            ].head(top_n)
        )

# Example usage
preview_matches(affiliation_years, grants_df, top_n = 50)

✅ Total matches found: 90,600
✅ Years matched: 4


===== Year 2010 =====

,FullName,matched_name,recip_name,num_grants,total_funding
11833,University of Southern California,university of southern california,UNIVERSITY OF SOUTHERN CALIFORNIA,125,44180971.0
7039,Temple University,temple university,TEMPLE UNIVERSITY,117,6855908.0
8614,University of Chicago,university of chicago,UNIVERSITY OF CHICAGO,198,34395832.0
3798,Lehigh University,lehigh university,LEHIGH UNIVERSITY,70,3689057.0
9303,University of Illinois System,university of illinois,UNIVERSITY OF ILLINOIS,67,50509661.0
1562,Columbia University,columbia university,COLUMBIA UNIVERSITY,153,23178445.0
5683,Pennsylvania State University,pennsylvania state university,PENNSYLVANIA STATE UNIVERSITY,116,48353279.0
9549,University of Kentucky,university of kentucky,UNIVERSITY OF KENTUCKY,62,5397535.0
9313,University of Illinois System,university of illinois,UNIVERSITY OF ILLINOIS,67,50509661.0
3781,Lehigh University,lehigh university,LEHIGH UNIVERSITY,70,3689057.0
12813,University of Washington,university of washington,UNIVERSITY OF WASHINGTON,292,93413435.0
4630,New York University,new york university,NEW YORK UNIVERSITY,169,37072586.0
10765,University of North Carolina at Greensboro,university of north carolina at greensboro,UNIVERSITY OF NORTH CAROLINA AT GREENSBORO,4,482214.0
14142,Yale University,yale university,YALE UNIVERSITY,291,66380027.0
13670,Washington University in St. Louis,washington university in st louis,WASHINGTON UNIVERSITY IN ST LOUIS,43,11143663.0
9430,University of Illinois at Chicago,university of illinois at chicago,UNIVERSITY OF ILLINOIS AT CHICAGO,16,2490242.0
12979,University of Wisconsin Milwaukee,university of wisconsin milwaukee,UNIVERSITY OF WISCONSIN MILWAUKEE,16,8711593.0
1247,Clark Atlanta University,clark atlanta university,CLARK ATLANTA UNIVERSITY,13,728010.0
1053,Carnegie Mellon University,carnegie mellon university,CARNEGIE MELLON UNIVERSITY,64,20255566.0
168,Ball State University,ball state university,BALL STATE UNIVERSITY,24,11124678.0
2348,Duke University,duke university,DUKE UNIVERSITY,257,56636302.0
4464,University of Montana,university of montana,UNIVERSITY OF MONTANA,29,1282820.0
2662,Fordham University,fordham university,FORDHAM UNIVERSITY,33,1364332.0
4162,Michigan State University,michigan state university,MICHIGAN STATE UNIVERSITY,140,58635825.0
11791,University of South Florida,university of south florida,UNIVERSITY OF SOUTH FLORIDA,41,5008621.0
10297,University of Missouri System,university of missouri,UNIVERSITY OF MISSOURI,51,15204380.0
3562,Johns Hopkins University,johns hopkins university,JOHNS HOPKINS UNIVERSITY,206,65546366.0
2816,The George Washington University,the george washington university,THE GEORGE WASHINGTON UNIVERSITY,13,3638686.0
4238,Michigan State University,michigan state university,MICHIGAN STATE UNIVERSITY,140,58635825.0
6071,Purdue University,purdue university,PURDUE UNIVERSITY,127,82461245.0
2473,Emory University,emory university,EMORY UNIVERSITY,131,32296473.0
1087,Case Western Reserve University,case western reserve university,CASE WESTERN RESERVE UNIVERSITY,81,10027846.0
10149,University of Michigan,university of michigan,UNIVERSITY OF MICHIGAN,205,60090477.0
8814,University of Connecticut,university of connecticut,UNIVERSITY OF CONNECTICUT,54,24282183.0
13434,Virginia Commonwealth University,virginia commonwealth university,VIRGINIA COMMONWEALTH UNIVERSITY,47,9306995.0
3405,Iowa State University,iowa state university,IOWA STATE UNIVERSITY,62,58019727.0
8390,"University of California, San Francisco",university of california san francisco,UNIVERSITY OF CALIFORNIA SAN FRANCISCO,50,15993707.0
12730,University of Washington,university of washington,UNIVERSITY OF WASHINGTON,292,93413435.0
1730,Cornell University,cornell university,CORNELL UNIVERSITY,194,24246903.0
11308,University of Pittsburgh,university of pittsburgh,UNIVERSITY OF PITTSBURGH,194,33116869.0
7767,University of Arizona,university of arizona,UNIVERSITY OF ARIZONA,73,75250403.0
13814,Wayne State University,wayne state university,WAYNE STATE UNIVERSITY,69,4999311.0
5364,Oregon Health & Science University,oregon health science university,OREGON HEALTH SCIENCE UNIVERSITY,44,17546855.0
6423,Southern Methodist University,southern methodist university,SOUTHERN METHODIST UNIVERSITY,93,6681827.0
7791,University of Arkansas,university of arkansas,UNIVERSITY OF ARKANSAS,15,847501.0
14023,Yale University,yale university,YALE UNIVERSITY,291,66380027.0
13488,Virginia Polytechnic Institute and State Unive...,virginia polytechnic institute and state unive...,VIRGINIA POLYTECHNIC INSTITUTE AND STATE UNIVE...,6,572372.0
10369,University of Missouri,university of missouri,UNIVERSITY OF MISSOURI,51,15204380.0
6075,Purdue University,purdue university,PURDUE UNIVERSITY,127,82461245.0
10087,University of Michigan,university of michigan,UNIVERSITY OF MICHIGAN,205,60090477.0

===== Year 2011 =====

,FullName,matched_name,recip_name,num_grants,total_funding
21483,Pace University,pace university,PACE UNIVERSITY,35,650830.0
27575,University of New Mexico,university of new mexico,UNIVERSITY OF NEW MEXICO,55,13567318.0
28344,University of Pennsylvania,university of pennsylvania,UNIVERSITY OF PENNSYLVANIA,269,104813508.0
26813,University of Miami,university of miami,UNIVERSITY OF MIAMI,128,41175600.0
16733,Cornell University,cornell university,CORNELL UNIVERSITY,252,30318594.0
22108,Rensselaer Polytechnic Institute,rensselaer polytechnic institute,RENSSELAER POLYTECHNIC INSTITUTE,44,3731328.0
32154,Yeshiva University,yeshiva university,YESHIVA UNIVERSITY,57,13409027.0
26647,University of Massachusetts Amherst,university of massachusetts amherst,UNIVERSITY OF MASSACHUSETTS AMHERST,25,2478503.0
31119,Villanova University,villanova university,VILLANOVA UNIVERSITY,59,1462702.0
19934,Mississippi State University,mississippi state university,MISSISSIPPI STATE UNIVERSITY,36,31094060.0
29924,University of Vermont,university of vermont,UNIVERSITY OF VERMONT,61,15907401.0
23186,Syracuse University,syracuse university,SYRACUSE UNIVERSITY,114,5927536.0
31114,Villanova University,villanova university,VILLANOVA UNIVERSITY,59,1462702.0
18883,Johns Hopkins University,johns hopkins university,JOHNS HOPKINS UNIVERSITY,252,103748340.0
25234,University of Cincinnati,university of cincinnati,UNIVERSITY OF CINCINNATI,102,134211525.0
28423,University of Pittsburgh,university of pittsburgh,UNIVERSITY OF PITTSBURGH,217,79651586.0
32263,University Of Minnesota System,university of minnesota,UNIVERSITY OF MINNESOTA,120,236925781.0
25652,University of Delaware,university of delaware,UNIVERSITY OF DELAWARE,70,3832613.0
32082,Yale University,yale university,YALE UNIVERSITY,321,87199681.0
19523,Massachusetts Institute of Technology,massachusetts institute of technology,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,143,208024414.0
28047,University of Notre Dame,university of notre dame,UNIVERSITY OF NOTRE DAME,133,17836864.0
15527,California Institute of Technology,california institute of technology,CALIFORNIA INSTITUTE OF TECHNOLOGY,71,39484865.0
25226,University of Chicago,university of chicago,UNIVERSITY OF CHICAGO,182,33982731.0
21708,Pepperdine University,pepperdine university,PEPPERDINE UNIVERSITY,39,1194138.0
22484,Southern Illinois University at Carbondale,southern illinois university carbondale,SOUTHERN ILLINOIS UNIVERSITY CARBONDALE,6,6916657.0
16298,Colorado State University,colorado state university,COLORADO STATE UNIVERSITY,74,28297800.0
31261,Wake Forest University,wake forest university,WAKE FOREST UNIVERSITY,79,16171125.0
25344,University of Colorado System,university of colorado,UNIVERSITY OF COLORADO,69,109966237.0
30371,University of Washington,university of washington,UNIVERSITY OF WASHINGTON,375,145267900.0
18466,Howard University,howard university,HOWARD UNIVERSITY,46,6383388.0
15755,Carnegie Mellon University,carnegie mellon university,CARNEGIE MELLON UNIVERSITY,98,18620891.0
29775,University of Tulsa,university of tulsa,UNIVERSITY OF TULSA,33,7252609.0
19673,Miami University,miami university,MIAMI UNIVERSITY,75,1489509.0
17592,Emory University,emory university,EMORY UNIVERSITY,196,131179714.0
25053,University of Chicago,university of chicago,UNIVERSITY OF CHICAGO,182,33982731.0
23295,Temple University,temple university,TEMPLE UNIVERSITY,92,8818789.0
26848,University of Miami,university of miami,UNIVERSITY OF MIAMI,128,41175600.0
26871,University of Miami,university of miami,UNIVERSITY OF MIAMI,128,41175600.0
26790,University of Miami,university of miami,UNIVERSITY OF MIAMI,128,41175600.0
23729,Tufts University,tufts university,TUFTS UNIVERSITY,91,10134327.0
20144,Montclair State College,montclair state,MONTCLAIR STATE,2,3500.0
22471,Southern Illinois University,southern illinois university,SOUTHERN ILLINOIS UNIVERSITY,15,1625552.0
25928,University of Houston,university of houston,UNIVERSITY OF HOUSTON,75,7556975.0
26266,University of Iowa,university of iowa,UNIVERSITY OF IOWA,99,39075922.0
22332,St John's University,st johns university,ST JOHNS UNIVERSITY,23,151385.0
15570,California State University Hayward,california state university,CALIFORNIA STATE UNIVERSITY,15,1738780.0
22738,Stanford University,stanford university,STANFORD UNIVERSITY,304,86058471.0
17120,Duke University,duke university,DUKE UNIVERSITY,309,108792955.0
20914,The Ohio State University,the ohio state university,THE OHIO STATE UNIVERSITY,58,3446268.0
20791,Northwestern University,northwestern university,NORTHWESTERN UNIVERSITY,257,110019504.0

===== Year 2013 =====

,FullName,matched_name,recip_name,num_grants,total_funding
48527,University of Louisville,university of louisville,UNIVERSITY OF LOUISVILLE,71,12013358.0
55011,Washington University,washington university,WASHINGTON UNIVERSITY,229,27920201.0
46341,"University of California, San Francisco",university of california san francisco,UNIVERSITY OF CALIFORNIA SAN FRANCISCO,86,17798036.0
46774,University of Cincinnati,university of cincinnati,UNIVERSITY OF CINCINNATI,119,104455410.0
36137,Drexel University,drexel university,DREXEL UNIVERSITY,98,7021199.0
50816,University of Pennsylvania,university of pennsylvania,UNIVERSITY OF PENNSYLVANIA,364,41394533.0
52908,University of Utah,university of utah,UNIVERSITY OF UTAH,200,29285963.0
32815,Baylor College of Medicine,baylor college of medicine,BAYLOR COLLEGE OF MEDICINE,168,41734549.0
36003,Dartmouth College,dartmouth college,DARTMOUTH COLLEGE,167,13607985.0
48818,University of Memphis,university of memphis,UNIVERSITY OF MEMPHIS,26,5242303.0
55921,Yeshiva University,yeshiva university,YESHIVA UNIVERSITY,80,13321728.0
55174,Wayne State University,wayne state university,WAYNE STATE UNIVERSITY,105,15837536.0
35108,Columbia University,columbia university,COLUMBIA UNIVERSITY,335,155728772.0
51709,University of St. Thomas Minnesota,university of minnesota,UNIVERSITY OF MINNESOTA,111,230982269.0
42379,Polytechnic Institute Of New York University,polytechnic institute of new york university,POLYTECHNIC INSTITUTE OF NEW YORK UNIVERSITY,8,155430.0
40912,Northeastern University,northeastern university,NORTHEASTERN UNIVERSITY,106,6526872.0
36908,Emory University,emory university,EMORY UNIVERSITY,260,54267701.0
45297,University of Alabama,university of alabama,UNIVERSITY OF ALABAMA,84,6114146.0
33339,Brandeis University,brandeis university,BRANDEIS UNIVERSITY,141,7518456.0
41181,Northwestern University,northwestern university,NORTHWESTERN UNIVERSITY,382,347193009.0
45856,University of California Davis,university of california davis,UNIVERSITY OF CALIFORNIA DAVIS,67,31673831.0
45830,"University of California, Davis",university of california davis,UNIVERSITY OF CALIFORNIA DAVIS,67,31673831.0
50434,University of Notre Dame,university of notre dame,UNIVERSITY OF NOTRE DAME,186,30551685.0
49652,University of Missouri,university of missouri,UNIVERSITY OF MISSOURI,90,9849009.0
42804,Rensselaer Polytechnic Institute,rensselaer polytechnic institute,RENSSELAER POLYTECHNIC INSTITUTE,58,3074513.0
40071,Mississippi State University,mississippi state university,MISSISSIPPI STATE UNIVERSITY,38,27993099.0
48195,University of Iowa,university of iowa,UNIVERSITY OF IOWA,127,44028933.0
33311,Brandeis University,brandeis university,BRANDEIS UNIVERSITY,141,7518456.0
44501,Sam Houston State University,sam houston state university,SAM HOUSTON STATE UNIVERSITY,20,408265.0
34582,Clark University,clark university,CLARK UNIVERSITY,62,2527368.0
39032,Lehigh University,lehigh university,LEHIGH UNIVERSITY,118,3720660.0
32871,Baylor University,baylor university,BAYLOR UNIVERSITY,79,32020565.0
46143,University of California Riverside,university of california riverside,UNIVERSITY OF CALIFORNIA RIVERSIDE,18,1312746.0
43798,SUNY Binghamton,suny binghamton,SUNY BINGHAMTON,6,72262.0
46970,University of Colorado at Boulder,university of colorado at boulder,UNIVERSITY OF COLORADO AT BOULDER,16,1990445.0
51700,University of St. Thomas Minnesota,university of minnesota,UNIVERSITY OF MINNESOTA,111,230982269.0
49168,University of Michigan,university of michigan,UNIVERSITY OF MICHIGAN,371,81197544.0
49948,University of New Mexico,university of new mexico,UNIVERSITY OF NEW MEXICO,59,8293106.0
41333,Northwestern University,northwestern university,NORTHWESTERN UNIVERSITY,382,347193009.0
32420,American University,american university,AMERICAN UNIVERSITY,78,3824110.0
37175,Fordham University,fordham university,FORDHAM UNIVERSITY,72,4776079.0
33003,Boston College,boston college,BOSTON COLLEGE,109,20633073.0
49625,University of Missouri System,university of missouri,UNIVERSITY OF MISSOURI,90,9849009.0
52517,University of Texas at Dallas,university of texas at dallas,UNIVERSITY OF TEXAS AT DALLAS,20,553385.0
54725,Washington State University,washington state university,WASHINGTON STATE UNIVERSITY,130,68777773.0
50086,East Carolina University,east carolina university,EAST CAROLINA UNIVERSITY,41,8565734.0
46629,University of Chicago,university of chicago,UNIVERSITY OF CHICAGO,273,41919779.0
51607,University of St. Thomas Minnesota,university of minnesota,UNIVERSITY OF MINNESOTA,111,230982269.0
43996,Florida State University,florida state university,FLORIDA STATE UNIVERSITY,114,46422220.0
50097,East Carolina University,east carolina university,EAST CAROLINA UNIVERSITY,41,8565734.0

===== Year 2018 =====

,FullName,matched_name,recip_name,num_grants,total_funding
76832,"University of California, San Francisco",university of california san francisco,UNIVERSITY OF CALIFORNIA SAN FRANCISCO,123,4.944566e+07
58357,California State University East Bay,california state university east bay,CALIFORNIA STATE UNIVERSITY EAST BAY,11,2.034723e+06
56960,Baylor University,baylor university,BAYLOR UNIVERSITY,141,4.283308e+07
60784,Cornell University,cornell university,CORNELL UNIVERSITY,549,9.344316e+07
73403,Florida State University,florida state university,FLORIDA STATE UNIVERSITY,186,1.072881e+08
90170,Yale University,yale university,YALE UNIVERSITY,710,1.486961e+08
67639,Montana State University,montana state university,MONTANA STATE UNIVERSITY,80,3.962273e+07
70904,Princeton University,princeton university,PRINCETON UNIVERSITY,344,2.882792e+07
60854,Cornell University,cornell university,CORNELL UNIVERSITY,549,9.344316e+07
90450,Yeshiva University,yeshiva university,YESHIVA UNIVERSITY,97,1.097921e+07
60175,Columbia University,columbia university,COLUMBIA UNIVERSITY,478,1.047283e+08
64032,Hampton University,hampton university,HAMPTON UNIVERSITY,51,2.507486e+06
66327,Marquette University,marquette university,MARQUETTE UNIVERSITY,162,1.440359e+07
87833,Vanderbilt University,vanderbilt university,VANDERBILT UNIVERSITY,331,4.890769e+07
84086,University of San Francisco,university of san francisco,UNIVERSITY OF SAN FRANCISCO,75,1.248750e+07
59745,William & Mary College,college of william mary,COLLEGE OF WILLIAM MARY,25,7.326960e+05
66021,Loma Linda University,loma linda university,LOMA LINDA UNIVERSITY,36,4.049883e+06
58029,Brown University,brown university,BROWN UNIVERSITY,372,6.622045e+07
65069,Iowa State University,iowa state university,IOWA STATE UNIVERSITY,132,1.270631e+08
57408,Boston University,boston university,BOSTON UNIVERSITY,185,1.649251e+07
75230,University of Alabama at Birmingham,university of alabama at birmingham,UNIVERSITY OF ALABAMA AT BIRMINGHAM,104,6.093863e+07
85499,University of the Pacific,university of the pacific,UNIVERSITY OF THE PACIFIC,49,3.977808e+06
78741,Hartford University,university of hartford,UNIVERSITY OF HARTFORD,69,2.396697e+06
80986,University of Michigan,university of michigan,UNIVERSITY OF MICHIGAN,500,1.204704e+08
61953,Duke University,duke university,DUKE UNIVERSITY,657,1.829898e+09
82081,North Carolina State University,north carolina state university,NORTH CAROLINA STATE UNIVERSITY,123,5.101962e+07
67772,New Mexico State University,new mexico state university,NEW MEXICO STATE UNIVERSITY,32,1.354924e+07
85795,University of Utah,university of utah,UNIVERSITY OF UTAH,303,9.206432e+07
80813,University of Michigan,university of michigan,UNIVERSITY OF MICHIGAN,500,1.204704e+08
80134,University of Massachusetts Amherst,university of massachusetts amherst,UNIVERSITY OF MASSACHUSETTS AMHERST,59,8.628053e+06
90016,Yale University,yale university,YALE UNIVERSITY,710,1.486961e+08
78968,University of Idaho,university of idaho,UNIVERSITY OF IDAHO,45,2.529597e+06
79720,University of Kentucky,university of kentucky,UNIVERSITY OF KENTUCKY,148,4.666583e+07
73783,Temple University,temple university,TEMPLE UNIVERSITY,193,2.041264e+07
59937,Colorado State University System,colorado state university,COLORADO STATE UNIVERSITY,112,1.286985e+08
80428,University of Miami,university of miami,UNIVERSITY OF MIAMI,316,6.149208e+07
76391,"University of California, Los Angeles",university of california los angeles,UNIVERSITY OF CALIFORNIA LOS ANGELES,81,3.781722e+08
78080,University of Delaware,university of delaware,UNIVERSITY OF DELAWARE,167,2.953065e+07
57494,Bowling Green State University,bowling green state university,BOWLING GREEN STATE UNIVERSITY,59,5.520566e+06
66813,Mercer University,mercer university,MERCER UNIVERSITY,44,2.979279e+06
67909,New York University,new york university,NEW YORK UNIVERSITY,425,8.884066e+07
90301,Yale University,yale university,YALE UNIVERSITY,710,1.486961e+08
61017,Cornell University,cornell university,CORNELL UNIVERSITY,549,9.344316e+07
74799,Tulane University,tulane university,TULANE UNIVERSITY,175,3.111613e+07
89031,Washington University,washington university,WASHINGTON UNIVERSITY,322,1.073189e+08
88277,Virginia Tech,virginia tech,VIRGINIA TECH,77,3.291402e+07
74787,Tulane University,tulane university,TULANE UNIVERSITY,175,3.111613e+07
73070,University at Buffalo,university at buffalo,UNIVERSITY AT BUFFALO,16,1.828238e+06
86348,University of Washington,university of washington,UNIVERSITY OF WASHINGTON,458,2.745621e+08
65448,Johns Hopkins University,johns hopkins university,JOHNS HOPKINS UNIVERSITY,485,2.133012e+08